@section HeadScripts {
    <script type='text/javascript' src='~/lib/unitegallery/js/unitegallery.min.js'></script>
    <link rel='stylesheet' href='~/lib/unitegallery/css/unite-gallery.css' type='text/css' />
    <link rel='stylesheet' href='~/lib/unitegallery/themes/default/ug-theme-default.css' type='text/css' />
    <script src="~/lib/unitegallery/themes/tiles/ug-theme-tiles.js"></script>

}
<script>
var processData = function (data) {
    console.log(data);
    $("#output").empty();
    for (var i = 0; i < data.items.length; i++) {
        var item = data.items[i];
        var thumbnailURL = item.media.m;
        var bigURL = thumbnailURL.replace("_m", "_b");
        var $a = $("<a href='#'></a>").append(
            $("<img />").attr('src', thumbnailURL)
                .attr("alt", item.title)
                .attr("title", item.title)
                .attr("data-image", bigURL)
                .attr("data-description", item.title)
        );
        $("#output").append($a);
    }
    $("#output").show();
    $("#output").unitegallery({
        tiles_type: "nested"
    });
};
var doSearch = function () {
    var url = 'https://api.flickr.com/services/feeds/photos_public.gne';
    $.getJSON({
        url: url,
        dataType: "jsonp",
        data: {
            id: "147822180@N02",
            tagmode: "any",
            jsoncallback: "processData",
            format: "json"
        }
    });
};
$("#search").click(doSearch);
//initialize:
    doSearch();
</script>
<div id="output">
</div>