@section HeadScripts {
    <script type='text/javascript' src='~/lib/unitegallery/js/unitegallery.min.js'></script>
    <link rel='stylesheet' href='~/lib/unitegallery/css/unite-gallery.css' type='text/css' />
    <link rel='stylesheet' href='~/lib/unitegallery/themes/default/ug-theme-default.css' type='text/css' />
    <script src="~/lib/unitegallery/themes/tiles/ug-theme-tiles.js"></script>
}
@model WebAppTestBootStrap.ViewModels.PicturesListViewModel
<div id="gallery" style="display:none;">
@ViewBag.CurrentCategory
@foreach (var picture in Model.Pictures) {@Html.Partial("PictureOverviewSummary", picture)}
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#gallery").unitegallery();
    });
</script>
<div id="output">
</div>